
button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  width: 250px;
  height: 50px;
  border: 0px solid #303030;
  -webkit-border-radius: 3px;
  border-radius: 20px;
  font: normal 16px/normal "Gilroy", Times, serif;
  color: #303030;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ECF0F3;
  box-shadow:  10px 10px 20px 0px #D1D9E6,
              -10px -10px 20px 0px #ffffff;
}

.wrapper {
    text-align: center;
    margin-top:  10%;
}

.wrapper2 {
  position: absolute;
  top: 30%;
  left: 35%;
}
.wrapper3 {
  position: absolute;
  top: 70%;
  left: 40%;
}
.button2 {
    position: absolute;
    top: 80%;
}
.copyhelper {
  position: absolute;
}
.alpha{
  margin-top:1.5%;
  text-align: center;
  font: normal 14px/normal "Gilroy";
  font-style: underline;
}
.alpha:hover {
      cursor: pointer;
      }
.symbolic{
  margin-top:16%;
  text-align: center;
  font: normal 14px/normal "Gilroy";
  font-style: underline;
}
.symbolic:hover {
      cursor: pointer;
      }
body{
  background: #ECF0F3;
  background-size: 600% 600%;
}
