button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  width: 250px;
  height: 50px;
  border: 0px solid #303030;
  -webkit-border-radius: 3px;
  border-radius: 20px;
  font: normal 16px/normal "Gilroy", Times, serif;
  color: #303030;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ECF0F3;
  box-shadow:  10px 10px 20px 0px #D1D9E6,
              -10px -10px 20px 0px #ffffff;
}
button:hover{
  cursor: pointer;
}

.wrapper {
    text-align: center;
    margin-top:  10vw;
}
.wrapper2{
  text-decoration: underline;
}
.wrapper4{
text-decoration: underline;
}
.copyhelper {
  position: absolute;
}
.alpha{
      top: 10vw;
}
.symbolic{
  top:10vw;
}
body{
  background: #ECF0F3;
  background-size: 600vw 600vw;
}
